@model firstMVC.Models.Holiday
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Its @Model.getDaysUntil() days until @Model.Name </p>        
        <img style="height:500px; width:auto"  src="@Model.Picture"/>
    </div>
</body>
</html>
